.cardInput {
    display: flex;
    flex-direction: column;
    margin:  auto;
    position: relative;
}

.input {
    width: 300px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
    background: transparent;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #BEBEBE;
    line-height: 17px;
    z-index: 2;
}
.input ::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.input::placeholder {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #BEBEBE;
}

