.cardInput {
    display: flex;
    flex-direction: column;
    margin:  auto;
    position: relative;
}

.input {
    width: 300px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
    background: transparent;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #BEBEBE;
    line-height: 17px;
    z-index: 2;
}
.input::placeholder {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #BEBEBE;
}

