.item{
    width: 110px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 6px;
    text-align: center;
    outline: none;
}
.form{
    margin-left: 60px;
}
.item::-webkit-input-placeholder{
    color: #BEBEBE;
}
